Config(
    mqtt_config: MQTTConfig(
        ip: "192.168.6.2",
        port: "1234",
        login: "admin",
        password: "verysecurepassword",
        topic: "lora/sensor"
    ),
    spi_config: SPIConfig(
        spidev_path: "/dev/spidev0.0",
        bits_per_word: 8,
        max_speed_hz: 500000,
        lsb_first: false,
        spi_mode: SPI_MODE_0,
    ),
)
